.meuForm {

    color: white;
    font-size: 15px;
    display: flexbox;
    position: reltive;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
  
  }
  
  .title {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
  }
  
  .inputs {
    justify-content: space-between;
    margin-top: 5px;
    width: auto;
    align-items: center;
    text-align: center;
  }
  
  .botoes {
    margin-top: 10px;
    justify-content: space-between;
    display: inline-block;
    margin-right: 30px;
    align-items: center;
    text-align: center;
  
  }
  
  #formulario {
    margin-top: 30px;
  }
  
  .nome {
    font-size: 25px;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .btn-outline-primary {
    background-color: white;
    text-decoration: none;
    color: white;
  
  }
  
  .btn-primary {
    color: white;
  }
  
  .nav-fill {
    font-size: 20px;
    text-decoration: none !important;
  
  }
  
  a {
    color: white;
    text-decoration: none !important;
    /* text-shadow: 1px 1px white; */
    font-size:15px;
    text-align: center;
    align-items: center;
  }
  