/* Centraliza a tabela horizontalmente */
table {
  width: 80%;
  /* Ajuste a largura da tabela conforme necessário */
  margin: 0 auto;
  /* Centraliza a tabela horizontalmente */
  border-collapse: collapse;
  /* Remove o espaçamento entre as bordas das células */
}

/* Remove a cor de fundo dos cabeçalhos e centraliza o texto */
table th {
  background-color: transparent;
  /* Remove a cor de fundo dos cabeçalhos */
  text-align: center;
  /* Centraliza o texto dentro das células */
  padding: 10px;
  /* Adiciona espaçamento interno aos cabeçalhos */
}

/* Estilo das linhas e células da tabela */
tr,
th,
td {
  text-align: center;
  /* Centraliza o texto dentro das células */
  padding: 10px;
  /* Adiciona espaçamento interno às células */
  background-color: white;
  /* Cor de fundo das células */
  border: 1px solid #ddd;
  /* Adiciona bordas às células */
  white-space: nowrap;
  /* Impede quebra de linha dentro das células */
  vertical-align: middle;
  /* Centraliza o conteúdo verticalmente */
}

/* Define larguras fixas para as colunas */
table th:nth-child(1),
table td:nth-child(1) {
  width: 5%;
}

/* Id */

table th:nth-child(2),
table td:nth-child(2) {
  width: 15%;
}

/* Nome */

table th:nth-child(3),
table td:nth-child(3) {
  width: 20%;
}

/* E-mail */

table th:nth-child(4),
table td:nth-child(4) {
  width: 10%;
}

/* CPF */

table th:nth-child(5),
table td:nth-child(5) {
  width: 10%;
}

/* Contato */

table th:nth-child(6),
table td:nth-child(6) {
  width: 15%;
}

/* Rua */

table th:nth-child(7),
table td:nth-child(7) {
  width: 5%;
}

/* Nº */

table th:nth-child(8),
table td:nth-child(8) {
  width: 10%;
}

/* Estado */

table th:nth-child(9),
table td:nth-child(9) {
  width: 10%;
}

/* Cidade */

table th:nth-child(10),
table td:nth-child(10) {
  width: 15%;
}

/* Data cadastro */

table th:nth-child(11),
table td:nth-child(11) {
  width: 15%;
}

/* Ações */

/* Centraliza o conteúdo horizontalmente */
table th,
table td {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-success {
  background-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-success:hover {
  background-color: #218838;
  /* Cor do hover para o botão de sucesso */
  transform: scale(1.05);
  /* Leve aumento no tamanho */
}

.btn-danger:hover {
  background-color: #c82333;
  /* Cor do hover para o botão de remoção */
  transform: scale(1.05);
  /* Leve aumento no tamanho */
}