.move-up {
    margin-top: -50px; /* Ajuste o valor conforme necessário */
  }
  .radio{
    margin-top: 20px;
    font-size: 13px;
    color: ;
  }
 
  .d-flex{
    margin-top: 0 auto;
  }

#formulario{
  margin-top: 100px;
}