.clientTitle {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    display: flex;
}

.menu {
    width: auto;
}

.tabela {
    color: aliceblue;
}

.botoes {
    color: rebeccapurple;
}

.tabela {
}

.title {
    color: aliceblue;
}

.botoes {

}
tr,th,td{
    /* color: red; */
    text-align: center;
}