.d-flex {
        margin-top: 0 auto;
        display: flex;
        justify-content: center;
        background-color: ;
}

.row {
        background-color: ;
        display: flex;
        justify-content: center;
        margin-left: 0 auto;
}

.col {
        background-color: ;
        display: grid;
        justify-content: center;
}

h3 {
        text-align: left;
        align-items: left;
        font-size: 12px;
        color: black;
}

p {
        color: black;
        font-size: 14px;
        text-align: left;
}

.w-50 {
        background-color: transparent;
        height: 80vh;
}

#formulario {
        margin-top: 30px;
        background-color: transparent;
}