.a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela inteira */
}
.user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.email {
    background-color: ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.senha {
    background-color: ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}


.botao {
    margin-top: 20px;
    text-align: left;
    background-color:;
}

.form-control {
    width: 300px;

}

label {
    margin-left: 10px;
    white-space: nowrap;
}