.d-flex{
    background-color: transparent;
}
.w-50{
    color: black;
    margin-top: 30px;
}

.col{
    background-color: ;
    width: 50px;
    margin-top: 0 auto;
}

.formulario{
    margin-top: 12px;
}
.file{
    margin-top: -50px;
    background-color: ;
    font-size: 11px;
    margin-left: 0px;
}
.title-cpu{
    margin-top: 5px;
}