.Formulario {
    text-align: center;
  
}
.meuForm{
display: flex;
flex-direction: column;
width: 500px;
margin: 30px auto;

}
.form-row{
    margin-top: 10px;
margin-bottom: 5px;
}
.botao{
margin-top: 8px;
}
.col-md-6{
    margin-bottom: 5px;
}