.title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.file{
    color: black;
}
.inputs{
color: black;
    font-family: 'Courier New', Courier, monospace;
}
.data{
    color: black;
}
.form-row{
    background-color:white;
    border-radius: 1%;
    font-size: 15px;
    
}
.botaoSave{
    margin: 5px;
    display: flex;
}
.meuForm{
    /* background-color:; */
}