
.meuForm{
        
        color: white;
        font-size: 15px;

}
.title{
        font-size: 18px;
}
.inputs{
        justify-content: space-between;
        margin-top: 5px;
}
.botoes{
        margin-top: 10px;
        justify-content: space-between;
}
