.login-page {
    /* background-color: ; */
    height: 0 auto;
    margin: 0 auto;

}

.h-100 {
    /* background-color: ; */
    margin: 0 auto;
    text-align: center;
}

.algumacoisa {

    color: #25272c;
    background-color: transparent;
    width: 50px;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

.btn {
    /* color: ; */

}

.input-flex {
    /* background-color: ; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 8%;


}

.user {
    color: black;
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
}

.senha {
    color: black;
    text-align: left;
    font-size: 13px
}

.justify-content {
    /* background-color: ; */
    margin: 0 auto;
    height: 0 auto;
    margin-top: 100px;
}

.input {
    /* background-color: ; */
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.d-flex {
    margin-top: 0px;
}

.forgotpass {
    font-size: 15px;
    color: black;
    margin-top: 50px;
    background-color: transparent;
}

.bold-text {
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 0 auto;

}

.full-height {}