body {
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  /* background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 2%, rgba(49, 57, 73, 0.5) 10%,  rgba(31, 36, 46, 0.8) 75%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  background-color:white;
  overflow: white;
}

.meu-form {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  color: black;
  background-color: transparent;
  
}


.pesquisa {
  color: white;
  display: inline-block;
  justify-content: space-evenly;
  background-color: ;
  margin-top: 100px;
}

tr,th{
  color: red;
}