
.flex-container{
display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #282c34;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    
}.a1{
    text-decoration: none;
    display: flex;
}
h2{
    color: wheat;
}